* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: black solid 2px;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}
body #header {
    display: flex;
    justify-content: space-between;
    height: 7%;
}

.quiz {
    margin-top: 30%;
    display: flex;
    flex-direction: column;
}

.quiz h2 {
    display: flex;
    justify-content: center;
}

#answers {
    display: flex;
    justify-content: space-around;
}

#start {
    display: inline;
    display: flex;
    justify-self: center;

}

#scoreList {
    display: none;
}